<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="style.css"/>
		<title>		RHandle			</title>
		</head>
	<body>
	<div class="accueil">
		<header>
		<h1 id="Up"> <strong> RHandle </strong> </h1>
		 <nav>
 	<div class="sidebar">
		<ul class="navbar">
		<li class="every-people">	<a href="../index.html" >Accueil</a></li>
		<li class="every-people">	<a href="connexion.html" >Connexion</a></li>
		<li class="every-people">	<a href="utiliserMessagerie.html" >Messagerie</a></li>
		<li class="every-people">	<a href="utiliserAgenda.html" >Agenda</a></li>
		<li class="every-people">Document												</li>
		<li class="hiding-document">	<a href="creerDocument.html" >Créer un document</a></li>
		<li class="hiding-document">	<a href="listeDocument.html" >Consulter un document</a></li>
		<li class="every-people">	<a href="listeProfil.html" >Profil</a></li>
		<li class="every-people"> Congé</li>
		<li class="hiding-conge">	<a href="creerConge.html" >Demander un congé</a> </li>
		<li class="hiding-conge">	<a href="voirNotification.html" >Notification</a></li>
		
		  
		<li class="only-RH">	<a href="./HTML/listeConge.html" >voir les congés</a></li>
		<li class="only-RH">	<a href="./HTML/inscription.html" >Profil</a></li>
		<li class="only-RH">	<a href="./HTML/voirListeAbsence.html" >Profil</a></li>
		</ul>
	</div>
</nav>
		</header>
		
		<section>
		<h2> <strong>Accueil  </strong></h2>
			
<!--Que peut on mettre dans l'accueil ?-->
		
		</section>
		<div>
	

