<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
			<link rel="stylesheet" href="style.css"/>
		<title>RHandle-Messagerie</title>
		</head>
	<body>
		<header>
		<h1 id="Up"> <strong> RHandle </strong> </h1>
	
		</header>
		<section>
		<h2> <strong> Messagerie </strong></h2>
		</section>
		<section>
		<h3>Personne à contacter</h3>
		    <textarea name="people_search"  rows=2 cols=25  placeholder="votre message">
			</textarea>
			
			</form>
		</section>
		<section>
		<h3>___Nom de la personne</h3>
		<!-- Contiendra les messages des utilisateurs -->
		</section>
		<section>
		<h3>Ecrivez votre message</h3>
		<form method="POST" action="http://www.iut-fbleau.fr/sitebp/post.php" enctype="application/x-www-form-urlencoded" >
		    <textarea name="message"  rows=2 cols=75  placeholder="votre message">
			
			</textarea>
			<input type="submit" value="==>"  name="send" />
			</form>
			
		
		</section>
